<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1 class="text-light"><a routerLink="/"><b>Jirama</b></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link active" routerLink="/">Home</a></li>
        <li><a class="nav-link" href="#about">A propos</a></li>
        <li><a class="nav-link" href="#about">Service</a></li>
        <li><a class="nav-link" href="#contact">Contact</a></li>
        <li><a class="inscription shadow-sm" routerLink="inscription">Inscription</a></li>
      </ul>
      <i class="bi mobile-nav-toggle bi-list"></i>
    </nav>
  </div>
</header>
<section class="presentation row">
    <div class="col-lg-6 col-md-5 col-12 d-flex flex-column justify-content-center txt">
      <h1>JIRAMA,</h1>
      <h4>Une entreprise de services publics d'éléctricité et d'eau à Madagascar</h4>
      <div class="mt-5">
        <a routerLink="/connexion" class="btn-outline">Se connecter</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 d-flex flex-column justify-content-center div-logo">
      <img src="assets/logo.png" class="img-fluid animated logo-img" alt="LOGO JIRAMA">
      <h4 class="text-white mt-2">Jiro sy Rano Malagasy</h4>
    </div>
</section>

<!--a propos-->
<section id="about" class="about">
  <div class="container">

    <div class="row justify-content-between">
      <div class="col-lg-3 d-flex align-items-center justify-content-center about-img ">
        <img src="assets/images.jpg" >
      </div>
      <div class="col-lg-6 pt-5 pt-lg-0">
        <h3 data-aos="fade-up"><img src="assets/logoformation.png" width="30px"> Centre de Formation Professionnelle</h3>
        <p data-aos="fade-up" data-aos-delay="100"><br>
            Réseau eau.
            Branchement et comptage.
            Mini laboratoire.
            Mini station de pompage.
            Maquette hydraulique pour dynamique de fluide.
            Atelier de travaux de pose et canalisation.
            Terrain d’entrainement pour pose canalisation.
        </p>
        <div class="row">
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <i> <img src="assets/logoenvir.png" width="40px" ></i>                    
            <h4>Environnement</h4>
            <p>La pérennité de toutes les activités de la JIRAMA se base sur le développement durable.
                Pour minimiser ses impacts négatifs sur l’environnement, la JIRAMA à créer une dynamique de prévention de la pollution et d’amélioration continue pour la protection de l’environnement</p>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <i><img src="assets/logosecur.png" width="20px" ></i>
            <h4>Sécurité</h4>
            <p>La JIRAMA priorise la sécurisation de son personnel pour minimiser les risques professionnels liés au métier. Elle met à leur disposition des équipements de protection individuelle (EPI) et des équipements de protection collective (EPC).
               </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Fin à-propos-->
<!--service-->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2 data-aos="fade-up"> <img src="assets/logoservice.png" width="32px" > Services</h2><br><br>
    </div>
   

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <img src="assets/logoelec.png" width="80px" >
          <h4 class="title">Eléctricité</h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <img src="assets/logoeau.png" width="70px" >
          <h4 class="title">Eau</h4>
          <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <img src="assets/logospecial.png" width="70px" >
          <h4 class="title">Spécialisation</h4>
          <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-world"></i></div>
          <img src="assets/logocreation.png" width="80px" >
          <h4 class="title">Création</h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
        </div>
      </div>

    </div>

  </div>
</section>
<!--fin service-->
<!--contact-->

<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact </h2>
      <p>Contactez-nous</p>
    </div>

    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="info">
          <div class="address">
            <h4>Localisation:</h4>
            <p>Antananarivo,101</p>
          </div>

          <div class="email">
            <h4>Email:</h4>
            <p>jirama@gmail.com</p>
          </div>

          <div class="phone">
            <h4>Téléphone:</h4>
            <p>+020 20 455 25</p>
          </div>
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name"> Votre Nom</label>
              <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" required>
            </div>
            <div class="form-group col-md-6 mt-3 mt-md-0">
              <label for="name">Votre Adresse Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder=" Votre Adresse mail" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="name">Sujet</label>
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" required>
          </div>
          <div class="form-group mt-3">
            <label for="name">Message</label>
            <textarea class="form-control" name="message" rows="10" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Chargement</div>
            <div class="error-message"></div>
            <div class="sent-message">Votre message est bien envoyé! Merci de votre patience...</div>
          </div>
          <div class="text-center"><button type="submit">Envoyer</button></div>
        </form>
      </div>

    </div>

  </div>
</section>
<!--fin contact-->

<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>JIRAMA</h3>
          <p>
            Madagascar <br>
            Antananarivo, 101<br>
            Province <br><br>
            <strong>Phone:</strong> +020 20 144 58<br>
            <strong>Email:</strong> jirama@gmail.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Liens</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">A propos</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Contatct</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nos Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Eléctricité</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Eau</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Création</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Spécialisation</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Réseau sociaux</h4>
          <p>Cela permet de nous contacter rapidement lors du problème</p>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>Jirama</span></strong>. All Rights Reserved
    </div>
   
    </div>
</footer>