<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
  
      <div class="logo">        
        <!-- Uncomment below if you prefer to use an image logo -->
        <img src="assets/logo-1.png" alt="" class="img-fluid logo-img me-3" width="40px">
        <h1 class="text-light float-end"><a routerLink="/dashboard"><b>Jirama</b></a></h1>
      </div>
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="/dashboard">Mon compte</a></li>
          <li><a class="nav-link" href="/facture">Facture</a></li>
          <li><a class="nav-link active" routerLink="/actualite">Actualités</a></li>
          <li><a class="nav-link" href="/connexion">Déconnexion</a></li>
          <li><a class="inscription shadow-sm">Tojo Ramamroson</a></li>
        </ul>
        <i class="bi mobile-nav-toggle bi-list"></i>
      </nav>
    </div>
</header>


<div class="container">
    <div class="row" id="body">
        <div class="col-lg-3 col-md-4 d-none d-md-block" id="profil">
          <div class="card shadow fixed-profil">
            <div class="fd-profil">
              <div class="img-profil">
                <img src="assets/pdp.png" class="card-img-top" alt="photo">
              </div>
            </div>
      
            <div class="card-body text-center">
              <h5 class="card-title">Koto Fetsy</h5>
              <p class="card-text"><b>Email</b> <br> <i>email@example.com</i></p>
              <p class="card-text"><b>Téléphone</b><br> <i>032 82 975 02</i></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Type de client</b> <br> Particulier</li>
              <li class="list-group-item"><b>Facture payés</b> <br> 4</li>
              <li class="list-group-item"><b>Facture impayés</b> <br> 0</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-8" id="publication">
      
          <div class="card shadow mt-2">
            <div class="card-body">
              <div class="input-group">
                <input type="text" placeholder="Recherche d'actus" name="searchKeyword" aria-label="Search" aria-describedby="basic-addon2" class="form-control bg-light border-0 small">
                <div class="input-group-append">
                  <button type="button" class="btn search"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
      <div>
          <div class="card mt-2 mb-1">
            <div class="card-body">
              <div class="topbar">
                <div class="begin">
                  <img src="assets/jirama-actus.png" class="mr-3" alt="">
                  <div class="name">
                    <h6><a href="#" class="text-dark">Jirama Actus</a></h6>
                    <span><i class="fa fa-clock" aria-hidden="true"></i> 3 min ago</span>
                  </div>
                </div>
                <div class="end">
                  <a href="#" title="" class="ed-opts-open text-dark"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="mt-3">
                <img src="assets/actus/actu1.jpg" width="100%" class="card-img-top" alt="photo">
                <p class="mt-3">Voatery hoesorina ny vata mpanova herinaratra (Transformateur) eo Marobiby hahafahana manao ny fanarenana 
                    ✅Hiverina avy hatrany ny herinaratra rehefa tontosa ny fanamboarana</p>
              </div>
            </div>
          </div>

          <div class="card mt-2 mb-1">
            <div class="card-body">
              <div class="topbar">
                <div class="begin">
                  <img src="assets/jirama-actus.png" class="mr-3" alt="">
                  <div class="name">
                    <h6><a href="#" class="text-dark">Jirama Actus</a></h6>
                    <span><i class="fa fa-clock" aria-hidden="true"></i> 3 min ago</span>
                  </div>
                </div>
                <div class="end">
                  <a href="#" title="" class="ed-opts-open text-dark"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="mt-3">
                <img src="assets/actus/actu2.jpg" width="100%" class="card-img-top" alt="photo">
                <p class="mt-3">⚒Andalam-panamboarana ireo vata mpanova herinaratra (Transformateurs) simba ny JIRAMA amin'izao fotoana izao, antony tsy mbola mampiverina ny herinaratra amin'ireto toerana voalaza amin'ny sary ireto 👇
                    ✅Hiverina avy hatrany ny herinaratra rehefa tontosa izany fanamboarana izany</p>
              </div>
            </div>
          </div>

          <div class="card mt-2 mb-1">
            <div class="card-body">
              <div class="topbar">
                <div class="begin">
                  <img src="assets/jirama-actus.png" class="mr-3" alt="">
                  <div class="name">
                    <h6><a href="#" class="text-dark">Jirama Actus</a></h6>
                    <span><i class="fa fa-clock" aria-hidden="true"></i> 3 min ago</span>
                  </div>
                </div>
                <div class="end">
                  <a href="#" title="" class="ed-opts-open text-dark"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="mt-3">
                <img src="assets/actus/actu3.jpg" width="100%" class="card-img-top" alt="photo">
                <p class="mt-3">🙏 Ialana tsiny indrindra ny fanelingelenana aterak'izany
                    ✅Hiverina toy ny mahazatra ny famatsian-drano rehefa tontosa ny asa</p>
              </div>
            </div>
          </div>
        </div>
        </div>
      
        <div class="col-lg-3 offset-lg-0 offset-md-4 col-md-8 ">              
              <img src="assets/jirama-logo.jpg" class="mb-2 shadow-lg" style="width: 100%;" alt="picture">
              <img src="assets/couv1.gif" class="mb-2 shadow-lg" style="width: 100%;" alt="picture">
              <img src="assets/couv4.jpg" class="mb-2 shadow-lg" style="width: 100%;" alt="picture">
              <img src="assets/couv2.jpg" class="mb-2 shadow-lg" style="width: 100%;" alt="picture">
        </div>
      </div>    
</div>